@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font-family: 'Poppins', sans-serif !important;
}
h1, h2, h3, h4, h5 {
  font-weight: 600;
  letter-spacing: 0.3px;
}

p, span, small, a, button, input, label {
  font-weight: 400;
}
input,
textarea,
select {
  font-size: 0.9rem !important;
}

.logo-login{
  width: 30%;
  height: auto;
}
.banner{
  width: 1010px;
  height: 100%;
  margin-right: 0px;
  object-fit: cover;
  /* object-position: au; */
} 



.navbar{
  background-color: #220000 !important;
  color: white !important;
}

.nav-link{
  background-color: #220000 !important;
  color: white !important;
}

.navbar-brand{
  background-color: #220000 !important;
  color: white !important;
  font-size: 30px;
}

.gold{
  color: #FFD700;
}

.hide_scroll {
  overflow: hidden;
}

.card_title, .card_footer{
  border-radius: 10px !important;
  box-shadow: 0 0 2px rgb(10, 10, 10);;
}